*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:hsl(30, 54%, 90%)
}

    li,p{
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    h1 , span{
        font-family: "Outfit", system-ui;
        font-optical-sizing: auto;
        font-style: normal;
    }

.all{
    background-color:white;
    max-width:530px;
    display:inline-block;
    height:auto;
    padding:25px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin:30px;
}

.image-box{
    overflow:hidden;
    border-radius:9px;
    width:100%;
    display:flex;
    align-items:center;
    margin-bottom:20px;
}

.img-1{
    width:100%;
}

.first-h1{
    margin-bottom:10px;
}

.first-p{
    color:hsl(14, 45%, 36%);
    font-weight:500;
    line-height:25px;
}

/* -------------------------------- box-1 ---------------------------------- */

.box-1{
    width:100%;
    background-color:hsl(330, 100%, 98%);
    height:170px;
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    justify-content:space-around;
    margin-top:30px;
    margin-bottom:30px;
}

.first-ul{
    margin-left:30px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:100%;
    margin-bottom:20px;
}

.span-1{
    color:hsl(332, 51%, 32%);
    font-size:20px;
    font-weight:700;
    margin-left:30px;
    margin-top:20px;
    margin-bottom:10px;
}

.li-1{
    color:hsl(14, 45%, 36%);
    list-style:none;
    display:flex;
    align-items:center;
    font-weight:600;
}

.strong{
    font-weight:700;
}

.disk{
    width:5px;
    height:5px;
    background-color:hsl(332, 51%, 32%);
    border-radius:50%;
    margin-right:30px;
}

/* -------------------------------- box-2 ------------------------------- */

.box-2{
    /* background-color:red; */
    width:100%;
    height:230px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    /* margin-bottom:30px; */
}

.span-2{
    color:hsl(14, 45%, 36%);
    font-size:30px;
    font-weight:700;
    margin-bottom:20px;
}

.second-ul{
    /* background-color:blue; */
    margin-left:30px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    margin-bottom:20px;
}

.li-2{
    color:hsl(14, 45%, 36%);
}


.hr{
    width:100%;
    height:1px;
    background-color:rgb(219, 215, 215);
    margin-bottom:30px;
}

/* -------------------------------- box-3 ------------------------ */

.box-3{
    /* background-color:red; */
    width:100%;
    height:450px;
    display:flex;
    flex-direction:column;
}

.third-ul{
    /* background-color:blue; */
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin-bottom:10px;
    margin-left:30px;
    padding-right:30px;
}

.li-3{
    color:hsl(14, 45%, 36%);
    list-style-type:decimal;
    list-style-position:outside;
    line-height:25px;
}

.li-3::marker{
    font-weight:800;
    font-size:20px;
}

/* ---------------------------- table-4 --------------------- */

.table{
    /* background-color:red; */
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:space-around;
}

.sec-1 , .sec-2 , .sec-3 , .sec-4{
    /* background-color:blue; */
    display:flex;
    justify-content:space-between;
    padding:15px;
    border-bottom:solid 1px rgb(219, 215, 215);
    width:500px;
}

.list-1{
    margin-left:50px;
    font-weight:700;
    color:rgb(151, 151, 151);
}

.table-2{
    /* background-color:blue; */
    width:80%;
}

.list-2{
padding-right:90px;
font-size:17px;
font-weight:800;
color:hsl(14, 60%, 39%)
}

.p-2{
    color:hsl(14, 45%, 36%);
    margin-top:20px;
    margin-bottom:20px;
    font-weight:500;
    line-height:27px;
}

.un-border{
    border:none;
}

.hr-2{
    margin-top:30px;
}

@media(max-width:530px) {
    .all{
        width:100%;
    }

    .box-4{
        width:100%;
        margin-top:40px;
    }

    .table{
        width:100%;
    }

    .table-2{
        width:100%;
    }

    .sec-1 , .sec-2 , .sec-3 , .sec-4{
        width:100%;
    }

    .list-1 , .list-2{
        padding:0;
        margin:0;
    }

    .hr-2{
        margin-top:90px;
    }
}

@media (max-width:400px) {
    .box-4{
        margin-top:10px;
    }

    .hr-2{
        margin-top:250px;
        margin-bottom:50;
    }

    .all{
        width:100%;
        margin:0;
    }

    .span-s{
        margin-bottom:90px;
    }
}